form  {
  width: 398px;
  height: 734px;
  left: 129px;
  top: 233px;
  font-family: Epilogue;
}

.title {
  width: 355px;
  height: 36px;

  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;

  color: #444955;
}

.labelText {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}

#cardName {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 355px;
  height: 37px;
}

#cardDescription {
  width: 355px;
  height: 80px;
}

.attr-box {
  display: flex;
  margin-top: 20px;
}

.cardAttr {
  width: 275px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #29313D;
  box-sizing: border-box;
  border-radius: 2px;
}

#defesa {
  padding-right: 10px;
}

#ataque {
  padding-right: 7px;
}

#vida {
  padding-right: 23px;
}

#cardImage {
  width: 229px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #023031;
  box-sizing: border-box;
  border-radius: 2px;
}

#cardRare {
  background: #FFFFFF;
  width: 355px;
  height: 37px;
  color: #023031;
}

#labelTrunfo {
  display: flex;
}

#cardTrunfo{
  height: 48px;
  margin-right: 10px;
  width: 15px;
}

#btn-save {
  padding: 8px 32px;
  background: #003BE5;
  border-radius: 2px;
  color: #FFFFFF;
}

#preview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview-content h1 {
   width: 355px;
  height: 36px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;

  color: white; 
}